nav{
    width: 100%;
    background-color: #AD1519;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav_item a {
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    color: #FABD00;
    font-size: 100%;
  }
.nav_item:hover {
    background-color: #FABD00;
  }
.nav_item a:hover{
    color: #AD1519;
    text-decoration: underline;
  }
.nav_links{
    display: flex;
    align-items: center;
}
#cur_page a{
    padding-bottom: 4px;
    padding-top: 4px;
    color:#AD1519;
    background-color: #FABD00;
    border: solid 3px #FABD00;
    border-radius: 12px;
}