nav{
    width: 100%;
    background-color: navy;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav_item a {
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 100%;
  }
.nav_item:hover {
    background-color: white;
  }
.nav_item a:hover{
    color: navy;
    text-decoration: underline;
  }
.nav_links{
    display: flex;
    align-items: center;
}
#cur_page{
    border: solid 5px white;
}